name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  id-token: write
  contents: read

env:
  env_var: ${{ vars.ENV_CONTEXT_VAR }}


jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .npmrc file
        uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependency
        run: | 
          npm install -g npm@latest
          npm ci --include dev
      - name: Build
        run: npm run build
        env:
          NODE_ENV: production
      - name: Publish
        run: |
          npm publish --access public
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

